@charset "utf-8";

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* box-sizing: border-box; */

}

header {
    position: relative;
    width: 100%;
    position: fixed;
    height: 10vh;
    z-index: 6;
}

nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    z-index: 6;
    margin-bottom: 50px;
}

hr {
	width: 60px;
	border: 1px solid #374CA5;
    text-align: center;
    margin: 0 auto 0 auto;
}

.logo {
    font-size: 40px;
    font-weight: bold;
}

.nav-links {
    position: absolute;
    top: 20%;
    right: 0%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.nav-links a {
    color: black;
    margin-right: 30px;
}

.nav-links li {
    list-style: none;
}

.home {
    position: relative;
    background-image: url(../img/my-portfoliosite.jpg);
    height: 100vh;
    object-fit: cover;
    background-size: cover;
}

.image {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 55%;
    left: 35%;
}

.image h2 {
    font-size: 80px;
    font-weight: bold;
}

.about {
    height: 100vh;
    background-color: #f3f5f8;
}
.about h3 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.about h4 {
    color:#7f7f7f;
    font-size: 35px;
    font-weight: bold;
} 

.about img {
    width: 50%;
    border-radius: 200px;
    margin-top: 50px;
}

.profile {
    margin-top: 50px; ;  
}

.profile p {
    font-size: 24px;
    line-height: 1.5;
}

.skill-type {
    display: flex;
    justify-content: space-between;
    width: 50%;
    
}
.skill p {
    font-size: 24px;
    line-height: 1.5;
}

.works {
    height: 100vh;
}

.works h3 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.works h4 {
    color:#7f7f7f;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.card  {
    width: 100%;
    height: 50vh;
    border: 1px #000 solid;
}

.card a {
    font-size: 24px;
    padding: 3px 6px;
    border: 1px #000 solid;
    color: #000;
}
.card a:hover {
    text-decoration: none;
}
.contact {
    background-color: #f3f5f8;
    height: 100vh;
}

.contact h3 {
    color:#7f7f7f;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}




@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .hamburger {
        display: block;
        position: fixed;
        z-index: 4;
        right: 13px;
        top: 12px;
        width: 42px;
        height: 42px;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        left: 6px;
        background: #555;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;  
    }

    .hamburger span:nth-child(1) {
        top: 10px;
    }

    .hamburger span:nth-child(2) {
        top: 20px;
    }

    .hamburger span:nth-child(3) {
        top: 30px;
    }

    .hamburger.active span:nth-child(1) {
        top: 16px;
        left: 6px;
        background: #fff;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
        top: 16px;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform:rotate(45deg);
        transform:rotate(45deg);
    }

    .nav-links {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        color: #fff;
        background: rgba(0,0,0,0.9);
        text-align: center;
        width: 100%;
        height: 100vh;
        justify-content: space-around;
        flex-direction: column;
        opacity: 0;
        transition: opacity .6s ease, visibility .6s ease;
        
    }

    .nav-links ul {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .nav-links ul li {
        list-style: none;
        padding: 0;
        width: 100%;
        transition: .4s all;
    }

    .nav-links ul li :hover {
        background: #ddd;
    }

    .nav-links a {
        display: block;
        cursor: pointer;
        color: #fff;
        padding:  1em 0;
        text-decoration: none;

    }

    .nav-links.active {
        opacity: 100;
    }

}